{% extends 'base.html.twig' %}

{% block title %}Awesome Store - Our products{% endblock %}

{% block body %}
<h2>{{ product.name }}</h2>

<p>SKU: {{ product.sku }}</p>
<p>Price: {{ product.price }}</p>
<p>Brand: {{ product._embedded.brand.name }}</p>
<p>Image: <img src="{{ product._embedded.images.0.thumbnail }}" style="max-height: 100px"/></p>
{% endblock %}


